@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  display: flex;
  height: 120vh;
  align-items: center;
  flex-direction: column;
}
.mat-icon {
  height: 9vh;
  width: auto;
  margin-bottom: 15vh;
  margin-top: 10vh;
}
.md-36 {
  font-size: 76px;
}
.button {
  width: 50vw;
}
.transcription {
  display: flex;
  width: 25vw;
  margin: 0 10px 0 120px;
  font-size: 6vw;
}
.ImgTranscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .transcription {
    margin: 0 10px 0 105px;
    font-size: 3vw;
  }
  .ImgTranscription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
  }
  .mat-icon {
    height: 9vh;
    width: auto;
    margin-bottom: 9vh;
    margin-top: 10vh;
  }
}
