<div class="container" *ngIf="assetSound">
  <mat-icon (click)="audio.play()" class="md-36">volume_up </mat-icon>
  <div></div>
  <audio #audio autoplay>
    <source [src]="assetSound.value " type="audio/mpeg ">
  </audio>
  <div class="ImgTranscription" *ngIf="assetImageVisible">
    <img [src]="assetImage.value" />
    <p class="transcription">{{assetTranscription.transcription}}</p>
  </div>
  <button class=" mat-raised-button " color="primary " size="medium " *ngIf="buttonVisible " (click)="switchImage() ">
    Voir la transcription
  </button>
</div>
<button class="bouton-retour mat-raised-button" color="primary " size="medium " [routerLink]="['/level',levelId, 'grammaire', 'lesson', lessonId, 'chapitre', coursId]">
  Retour
</button>





<!-- <p *ngFor="let asset of assets ">
  {{asset.value}}
</p> -->