@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@media screen and (max-width: 1280px) {
  .nav-bar {
    height: 6vh;
    width: 100%;
    top: 0;
    background-color: #c6c3c9;
  }
  .logo {
    height: 5vh;
    margin: 1vh 0 0 1vh;
  }
}
