<div class="container">
  <div class="textByChapter" *ngFor="let text of textByChapter ">
    <div class="title">
    </div>
    {{text.text}}
    <div *ngIf='text.exemple' class="exemple">
      <h2>Exemple</h2>{{text.exemple}}
    </div>
    <div *ngFor="let exercise of exerciseByChapter">
      <button class="button" mat-raised-button color="primary" [routerLink]="['/level',levelId, 'grammaire', 'lesson', lessonId, 'chapitre', coursId, 'exercise', exercise.id]">exercice
      </button>
    </div>
  </div>