@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.container {
  display: flex;
  margin-top: 7rem;
  height: 40vh;
  justify-content: space-between;
}
.mat-raised-button{
  height: 10vh;
  width: 9rem;
}