@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.container {
  display: flex;
  margin-top: 7rem;
  height: 40vh;
  justify-content: space-between;
}
.mat-raised-button {
  height: 10vh;
  width: 9rem;
}
@media screen and (min-width: 1280px) {
  .mat-raised-button {
    width: 40vw;
  }
}
