.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.level_items {
  height: 15vh;
  width: 10em;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 10px;
}
